Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list

In [1]:
li = [5, 6, 7, 8, 9]
def next_in_line(li,num):
    if len(li) > 0 :
        li.append(num)
        return li[1:]
    else:
        print("'No list has been selected'")

In [2]:
next_in_line([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

Create the function that takes a list of dictionaries and returns the sum of people's budgets.Create the function that takes a list of dictionaries and returns the sum of people's budgets.

In [3]:
def get_budgets(listofDict):
    sum = 0
    for dictionary in listofDict:
        for key,val in dictionary.items():
            if key == 'budget':
                sum = sum + val
    return sum

In [4]:
get_budgets([
{ 'name': 'John', 'age': 21, 'budget': 23000 },
{ 'name': 'Steve', 'age': 32, 'budget': 40000 },
{ 'name': 'Martin', 'age': 16, 'budget': 2700 }
])

65700

Create a function that takes a string and returns a string with its letters in alphabetical order.Create a function that takes a string and returns a string with its letters in alphabetical order.

In [7]:
def alphabet_soup(str):
    #return sorted(str)
    return ''.join(sorted(str))

In [8]:
alphabet_soup('hello')

'ehllo'

Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly. What will be the value of your investment at the end of the 10 year period?

In [9]:
def compound_interest(amount, years, intrest, period):
    future_value = amount *(1 + (intrest/period)) ** (years * period)
    return round(future_value,2)

In [11]:
compound_interest(3500, 15, 0.1, 4)

15399.26

Write a function that takes a list of elements and returns only the integersWrite a function that takes a list of elements and returns only the integers

In [12]:
def return_onlyInteger(lst):
    intlist = []
    for i in lst:
        if type(i) == int:
            intlist.append(i)
    return intlist

In [13]:
return_onlyInteger([9, 2, 'space', 'car', 'lion', 16])

[9, 2, 16]