Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

In [6]:
def is_symmetrical(num):
    currentDigit = reversedNumber = 0
    remainingNum = num
    while(remainingNum != 0):
        currentDigit = remainingNum % 10
        reversedNumber = reversedNumber * 10 + currentDigit        
        remainingNum = remainingNum // 10
    print('Reveresed number :',reversedNumber)
    if reversedNumber == num:
        print('Num {} is symmetrical'.format(num))
    else:
        print('Num {} is not symmetrical'.format(num))

In [7]:
is_symmetrical(7227)

Reveresed number : 7227
Num 7227 is symmetrical

Given a string of numbers separated by a comma and space, return the product of the numbers

In [8]:
def productof_nums(string):
    string = string.replace(' ', "")
    string = string.split(',')
    sum = 1
    for i in string:
        sum = sum * int(i)
    return sum

In [9]:
productof_nums("1, 2, 3, 4")

24

Create a function that squares every digit of a number

In [10]:
def square_digits(num):
    square = ''.join(str(int(i)**2) for i in str(num))
    return int(square)

In [11]:
square_digits(9119)

811181

Create a function that sorts a list and removes all duplicate items from it

In [12]:
def setify(li):
    return list(set(li))

In [13]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

Create a function that returns the mean of all digits

In [17]:
def mean(n): 
    sum = 0   
    for digit in str(n):
        sum += int(digit)       
    return float(sum/len(str(n)))

In [20]:
mean(12345)

3.0